# Node.js
node_modules/
npm-debug.log

# Docker
.dockerignore


# Frontend build artifacts
frontend/build/

# Database files
db/postgres_data/ 

# IDE and editor files
.idea/
.vscode/
*.suo
*.sublime-project
*.sublime-workspace

# Logs
logs/*

# Environment variables
.env 